prototype-backend/n8n-sample-workflow.json
{
  "name": "Spring Boot Integration Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spring-boot-test",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "processedName",
              "value": "={{ $json.data.name }}"
            },
            {
              "name": "processedEmail", 
              "value": "={{ $json.data.email }}"
            },
            {
              "name": "processedMessage",
              "value": "={{ $json.data.message }}"
            },
            {
              "name": "requestId",
              "value": "={{ $json.metadata.requestId }}"
            },
            {
              "name": "processedAt",
              "value": "={{ $now }}"
            },
            {
              "name": "status",
              "value": "processed_successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set Response Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Data processed by n8n\", \"processedData\": $json } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Response Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
